{
  "extends": "airbnb-base",
  "rules":{
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "quotes": [0],
    "object-curly-newline": "off",
    "arrow-body-style": "off",
    "consistent-return": "off",
    "implicit-arrow-linebreak": "off",
    "func-names": "off",
    "comma-dangle": "off"
  }
}